body{

	padding: 0;
	width: 100%;
	margin: 0;
	font-family: 'Open Sans' sans-serif;
	background-size: cover;
	height: calc(100vh - 80px);
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('cook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  padding: 10px;
  position: relative;
}

input[type="search"] {
  padding: 5px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  flex-grow: 1;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
.recipe-container{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	background-color: #FFFFF0;
	overflow: hidden;
	transform: translateY(0);
	transition: transform 0.3s ease-out;
	position: relative;

}
/*.recipe-container.move-up{
	transform: translateY(-100%);
}*/
.recipe{
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	grid-row: span 2;
	grid-column: span 1;
}


.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #3e8e41;
	color: #fff;
	flex-wrap: wrap;
	width: 100%;
	height: 100px;
/*	height: calc(100vh - 80px);
	background-size: cover;*/
}

.logo {
	font-size: 32px;
}

.menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
	box-shadow: inset 0 0 0 0 #FFDAB9;
	color: #FFFFF0;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	flex-wrap: wrap;
	overflow: auto;
	max-width: 100%;
}

.menu li:hover {
	box-shadow: inset 100px 0 0 0 #FFBF00;
	color: #3e8e41;
	border-radius: 5px;
	transition: 0.3s ease;
	background-color: #FFDAB9;
}

.menu li {
	padding: 5px 14px;
}

.menu a {
	color: #FFFFF0;
	text-decoration: none;
	border-bottom: none;
}

.nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	display: inline-block;
	margin: 0 10px;
}

.user-info {
	align-items: center;
	background-image: url('cook.jpg');
     	background-size: cover;
       	background-repeat: no-repeat;
	background-position: center center;
	justify-content: center;
	position: relative;
	border-radius: 8px;
	padding: 20px;
	margin: 0 auto;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

