mysql://mpishi:nurupishi@3.90.65.37:3306/NuruPishi
mysql://mpishi:nurupishi@3.90.65.37:3306/NuruPishi
 * Serving Flask app 'nurupishi'
 * Debug mode: on
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with stat
mysql://mpishi:nurupishi@3.90.65.37:3306/NuruPishi
mysql://mpishi:nurupishi@3.90.65.37:3306/NuruPishi
 * Debugger is active!
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Recipe App{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<nav class="navbar">
			<div class="logo">NP</div>
			<ul class="nav-links">
				<div class="menu">
					<li><a href="{{ url_for('index') }}">Search</a></li>
					<li><a href="{{ url_for('search') }}">Home</a></li>
					<li><a href="{{ url_for('signup') }}">SignUp</a></li>
					<li><a href="{{ url_for('login') }}">LogIn</a></li>
					{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('favorites') }}">Favorite</a></li>
					<li><a href="{{ url_for('bookmarks') }}">Bookmark</a></li>
					{% endif %}
				</div>
			</ul>
		</nav>
		<main>
			{% block content %}
			<div class="search-container">
				<form action="{{ url_for('search') }}" method="get">
					<input type="search" name="query" placeholder="Japanese Pancakes">
					<button type="submit">Search</button>
				</form>
			</div><br>
			{% endblock %}
		</main>
	</body>
</html>
