<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Recipe App{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<nav class="navbar">
			<div class="logo">NP</div>
			<ul class="nav-links">
				<div class="menu">
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('search') }}">Search</a></li>
					{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('favorites') }}">Favorite</a></li>
					<li><a href="{{ url_for('bookmarks') }}">Bookmark</a></li>
					{% endif %}
				</div>
			</ul>
		</nav>
		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
</html>
