{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="search-container">
	<form action="{{ url_for('search') }}" method="get">
		<input type="search" name="query" placeholder="Japanese Pancakes">
		<button type="submit">Search</button>
	</form>
</div><br>

<div class="recipe-container">
	{% for recipe in recipes %}
	<div class="recipe">
		<img src="{{ recipe.image }}" alt="{{recipe.label }}">
		<h3>{{ recipe.label }}</h3>
		<ul>
			{% for ingredient in recipe.ingredients %}
			<li>{{ ingredient.text }}</li>
			{% endfor %}		
		</ul>
	</div>
	{% endfor %}
</div>
{% endblock %}

