{% extends "base.html" %}

{% block title %}Recipe{% endblock %}

{% block content %}
<div class="search-container">
	<form action="{{ url_for('search') }}" method="get">
		<input type="search" name="query" placeholder="Japanese Pancakes">
		<button type="submit">Search</button>
	</form>
</div><br>
<div class="recipe-container">
	{% for recipe in recipes %}
	<div class="modal-header">
		<img src="{{ recipe.image }}" alt="{{ recipe.label }}">
		<ul>
			{% for ingredient in recipe.ingredients %}
			<li>{{ ingredient.text }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>

{% endblock %}
