{% extends "base.html" %}
{% block title %}NuruPishi{% endblock %}
{% block content %}
<div class="search-container">
	<form action="{{ url_for('search') }}" method="get">
		<input type="search" name="query" placeholder="Japanes    e Pancakes">
		<button type="submit">Search</button>
	</form>
</div><br>

<div class="recipe-container">
	<h1>{{ recipes.title }}</h1>
	<h2>Ingredients:</h2>
	<ul>
		{% for ingredient in recipes.ingredients %}
		<li>{{ ingredient }}</li>
		{% endfor %}
	</ul>
	<h2>Instructions:</h2>
	<ul>
		{% for instruction in recipes.instructions %}
		<li>{{ instruction }}</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}

