{% extends "base.html" %}
{% block title %}Signup/Login{% endblock%}
{% block content %}
<div class="user-info">
	<form action="{{ request.path }}" method="POST">
	{{ form.csrf_token }}

	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{category}} alert-dismissable fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}

	{% if request.path == '/signup' %}

	{{ form.username(class_="form-control", placeholder="Username")}}

	{% for error in form.username.errors %}
	{{ error }}
	{% endfor %}

	{% endif %}

	{{ form.email(class_="form-control", placeholder="Email")}}<br>

	{% for error in form.email.errors %}
	{{ error }}
	{% endfor %}

	{{ form.password(class_="form-control", placeholder="Password")}}<br>

	{% for error in form.password.errors %}
	{{ error }}
	{% endfor %}

	{% if request.path == '/signup' %}
	{{ form.cpassword(class_="form-control", placeholder="Confirm Password")}}<br>

	{% for error in form.cpassword.errors %}<br>
	{{ error }}
	{% endfor %}
	
	{% endif %}

	{{ form.submit(class="btn btn-outline-info") }}

	<button type="submit" class="btn btn-block btn-primary mb-3">
		{{ btn_action }}
	</button>

	<p>
	{% if request.path != '/signup' %}
	New here?
	<a href="{{url_for('views_bp.signup')}}">Signup</a>
	{% endif %}
	</p>
</div>
{% endblock %}

