<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}NuruPishi{% endblock %}</title>
 		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<header class="header">
			<div class="nav-title">NP</div>
			<nav>
				<ul class="nav-links">
					<div class="menu">
						<li><a href="{{ url_for('views_bp.index') }}">Search</a></li>
						<li><a href="{{ url_for('views_bp.search') }}">Home</a></li>
						<li><a href="{{ url_for('views_bp.signup') }}">SignUp</a></li>
						<li><a href="{{ url_for('views_bp.login') }}">LogIn</a></li>
			
						{% if current_user.is_authenticated %}
						<li><a href="{{ url_for('views_bp.favorites') }}">Favorite</a></li>
						<li><a href="{{ url_for('views_bp.bookmarks') }}">Bookmark</a></li>
						{% endif %}
					</div>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}
			<div class="search-container">
				<form action="{{ url_for('views_bp.search') }}" method="get">
					<input type="search" name="query" placeholder="Japanese Pancakes">
					<button type="submit">Search</button>
				</form>
			</div><br>
			{% endblock %}
		</main>
		<div class="footer">
			<footer>
				<p>Author: ruoya<br>
					<a href="mwangiruoya@gmail.com">Email Me</a><br>
					<a href="https://github.com/ru0ya">Github</a><br>
				</p>
			</footer>
		</div>
	</body>
</html>
